.links.active{
  color: #B87333;
  text-decoration: underline;
  font-weight: 600;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}
.home{
  min-height: 100vh;
}

.scrollbar::-webkit-scrollbar {
  width: 3px; 
  height: auto; 
  background-color: transparent; 
  border-radius: 5px; 
}


.scrollbar::-webkit-scrollbar-thumb {
  background-color: #101f3c5e; 
  border-radius: 5px; 
  border: none;
  outline: none; 
}


.scrollbar::-webkit-scrollbar-track {
  background-color: transparent; 
  border-radius: 0px; 
  border: none;
  outline: none;
}
  